* {
    padding: 0px;
    margin: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.state {
    border: 1px solid black;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

.state h1 {
    color: black;
    font-size: 34px;
    text-align: center;
}

.state p {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: arial, sans-serif;
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.input input {
    margin: 10px 0px;
    padding: 8px 10px;
    font-size: 16px;
    color: black;
    outline: none;
    border: 1px solid #ccc;
}

.span {
    color: red;
}

.eventBtn-01 {
    border: 1px solid black;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.eventBtn-01 Button {
    padding: 20px 26px;
    color: black;
    font-size: 18px;
}

/* this is for navbar styling */

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

.ul li {
    list-style: none;
    margin-left: 15px;
    font-size: 20px;
}

.item {
    color: black;
    text-decoration: none;
}


/* github api page */
.mt-12{
    margin-top: 30px;
    color: red;
}
.score{
    margin-top: 20px;
    width: 450px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}